{% extends 'base.html' %}
{% load static %}

{% block cssPagina %}
	<link rel="stylesheet" href="{% static 'main.css' %}">
{% endblock %}

{% block title %}Pagina Inicial{% endblock %}

{% block content %}
	<div class="main">
		<h1>Pagina Inicial</h1>
		<p class="texto">
			Os patos são aves aquáticas que pertencem à família Anatidae, que também inclui gansos e cisnes.
			Eles são conhecidos por suas características singulares, como o corpo arredondado,
			o bico largo e a plumagem frequentemente colorida. O mundo dos patos é, sem dúvida, fascinante.
			Estas aves se adaptaram a uma variedade de habitats, desde lagos e rios até zonas costeiras,
			o que as torna comuns em diferentes partes do globo. 
			<br>
			Além de sua aparência encantadora,
			os patos têm comportamentos e hábitos que são igualmente intrigantes. Os patos são, muitas vezes,
			considerados animais amigáveis e sociáveis. Eles podem ser encontrados em grupos, denominada de bandos,
			e muitas espécies desenvolvem laços fortes com seus companheiros. Graças à sua extraordinária adaptabilidade,
			os patos se tornaram populares tanto em ambientes selvagens quanto em criações domésticas.
		</p>

		<p class="fonte">Fonte: 
			<a href="https://www.coisasdaroca.com/curiosidades/curiosidades-sobre-patos-2.html" target="_blank">https://www.coisasdaroca.com/curiosidades/curiosidades-sobre-patos-2.html</a>
		</p>

		<img src="{% static 'happyDuck.gif' %}">
	</div>
{% endblock %}
